<html>
    <head>
        <title> Mail envoyé ! | Proméo Formation </title>
    </head>


    <body>
        
      {% extends "layout.jinja" %}

      {% block content %}

      <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            Succès ! Votre rendez-vous a bien été pris en compte. Un mail a été envoyé au formateur et vous.
        </div>
    </div>


              
{% endblock %}
    </body>


</html>