<html>
    <head>
        <title> Login correct ! | Proméo Formation </title>
    </head>


    <body>

      {% extends "layout.jinja" %}

      {% block content %}

      <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            Connexion réussie!
        </div>
    </div>



{% endblock %}
    </body>


</html>